<div class="bg-gray-900">
    <div class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="absolute inset-x-0 top-0 items-center justify-center hidden overflow-hidden md:flex md:inset-y-0">
        <svg viewBox="0 0 88 88" class="w-full max-w-screen-xl text-gray-800">
          <circle fill="currentColor" fill-opacity="0.4" cx="44" cy="44" r="15.5"></circle>
          <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="44"></circle>
          <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="37.5"></circle>
          <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="29.5"></circle>
          <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="22.5"></circle>
        </svg>
      </div>
      <div class="relative grid gap-5 sm:grid-cols-2 lg:grid-cols-4">
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="	https://i.etsystatic.com/23659741/r/il/b2108f/2729390300/il_340x270.2729390300_rgpa.jpg" alt="coco">
            coconut shell soap dish
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="https://i.etsystatic.com/18630919/r/il/bd99b9/3517380719/il_340x270.3517380719_9h6q.jpg" alt="coco">
               coconut shell tealight holder
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="	https://i.etsystatic.com/28516410/r/il/eaa006/3369504321/il_340x270.3369504321_6gt4.jpg" alt="coco">
              coconut shell bowls and spoons
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="https://i.etsystatic.com/18253579/r/il/1a6279/1658750302/il_340x270.1658750302_7g1p.jpg" alt="coco">
              coconut shell spoons and fork set
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="	https://i.etsystatic.com/25495589/r/il/d146bf/3578715201/il_340x270.3578715201_cek7.jpg" alt="coco">
            coconut shell teacup set
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="https://i.etsystatic.com/12210249/r/il/a8d2fc/3708284520/il_680x540.3708284520_pjyd.jpg" alt="coco">
                coconut shell cups
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="https://i.etsystatic.com/25244810/c/1200/953/0/41/…/561fff/3330175113/il_340x270.3330175113_moj1.jpg" alt="coco">
              coconut shell cutlery holder
          </p>
        </div>
        <div class="px-10 py-20 text-center transition duration-300 transform bg-gray-100 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
          <p class="font-semibold text-gray-700">
            <img src="	https://i.etsystatic.com/23741052/r/il/f4fee9/3792392356/il_340x270.3792392356_q403.jpg" alt="coco">
             coconut shell spoon set
          </p>
        </div>
      </div>
    </div>
  </div>