<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
    <div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
      <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
        <path d="M50 0H100L50 100H0L50 0Z"></path>
      </svg>
      <img
        class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
        src="https://i.etsystatic.com/18630919/r/il/fe8c3b/2545282651/il_1140xN.2545282651_tlra.jpg"
        alt=""
      />
    </div>
    <div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
      <div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          All natural!
        </p>
        <h2 class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Otu's mini mart<br class="hidden md:block" />
         designs your home
          <span class="inline-block text-deep-purple-accent-400">with nature</span>
        </h2>
        <p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
          Creating the cococraft world is one of the wildest dream this mini mart is bringing to life. This world is one beautiful place where all the artifacts in your room is made with the shells of coconuts. Simply, being all natural!.
        </p>
        <div class="flex items-center">
          <a
            href="{{url('website.website.contacts')}}"
            class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-black transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
          >
            Visit Us
          </a>
          <a href="{{url('website.website.abouts')}}" aria-label="" class="inline-flex items-center font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700">Learn more</a>
        </div>
      </div>
    </div>
  </div>