<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{asset('tailwind.css')}}"></script>
</head>
<!-- component -->
    <body class="font-mono bg-gray-400">
        <!-- component -->

<div class="container h-screen max-w-full">
  <div class="m-auto my-28 w-96 max-w-lg items-center justify-center overflow-hidden rounded-2xl bg-slate-200 shadow-xl">
    <div class="h-24 bg-white"></div>
    <div class="-mt-20 flex justify-center">
      <img class="h-32 rounded-full" src="https://media.istockphoto.com/vectors/male-profile-flat-blue-simple-icon-with-long-shadow-vector-id522855255?k=20&m=522855255&s=612x612&w=0&h=fLLvwEbgOmSzk1_jQ0MgDATEVcVOh_kqEe0rqi7aM5A=" />
    </div>
    <div class="mt-5 mb-1 px-3 text-center text-lg">Welcome</div>
    <div class="mb-5 px-3 text-center text-sky-500">{{$details['firstname']}}</div>
    <div class="mb-5 px-3 text-center text-sky-500">{{$details['lastname']}}</div>
    <div class="mb-5 px-3 text-center text-sky-500">{{$details['email']}}</div>
    <!-- <div class="mb-5 px-3 text-center text-sky-500">{{$details['password']}}</div> -->
    <blockquote>
      <p class="mx-2 mb-7 text-center text-base">
        <button
        type="submit"
        class="w-full py-4 bg-green-600 rounded-lg text-green-100">
      
        <a href="{{url('system.system.body')}}">view page</a>
        </button>
        </p>
    </blockquote>
  </div>
</div>
    </body>
</html>